<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.androbim">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".implicitIntent.ActivityTwo"></activity>
        <activity android:name=".DrawableShapesActivity" />
        <activity android:name=".RegistrationTask" />
        <activity android:name=".LoginTask2" />
        <activity android:name=".LoginTask" />
        <activity
            android:name=".cordinatelayout.VerifyEmailActivity"
            android:label="Verify Email" />
        <activity
            android:name=".cordinatelayout.Login2Activity"
            android:label="Login 2" />
        <activity android:name=".implicitIntent.ActivityOne">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".linearlayout.LinearLayoutWithWeights" />
    </application>

</manifest>